/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob1_ProgProj/build/

/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob3_ProgProj/dist/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob3_ProgProj/build/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob4_ProgProj/dist/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob4_ProgProj/build/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob5_ProgProj/build/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob5_ProgProj/dist/
/Lab/CppApplication_1/build/
/Lab/CppApplication_1/dist/
/Lab/True_&_False_Chart_LAB_/build/
/Lab/True_&_False_Chart_LAB_/dist/