/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob1_ProgProj/build/

/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob3_ProgProj/dist/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob3_ProgProj/build/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob4_ProgProj/dist/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob4_ProgProj/build/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob5_ProgProj/build/
/Homework/Chapter 1/Savitch_9thEd_Chap1_Prob5_ProgProj/dist/
/Lab/CppApplication_1/build/
/Lab/CppApplication_1/dist/
/Lab/True_&_False_Chart_LAB_/build/
/Lab/True_&_False_Chart_LAB_/dist/
/Homework/Cervantes, Jose - Assignment 2 - 42829/Savitch_9thEd_Chap2_Prob15_Prog_Proj/build/
/Homework/Cervantes, Jose - Assignment 2 - 42829/Savitch_9thEd_Chap2_Prob15_Prog_Proj/dist/
/Homework/Cervantes, Jose - Assignment 2 - 42829/Savitch_9thEd_Chap2_Prob13_Prog_Proj/dist/
/Homework/Cervantes, Jose - Assignment 2 - 42829/Savitch_9thEd_Chap2_Prob13_Prog_Proj/build/
/Homework/Cervantes, Jose - Assignment 2 - 42829/Savitch_9thEd_Chap2_Prob14_Prog_Proj/dist/
/Homework/Cervantes, Jose - Assignment 2 - 42829/Savitch_9thEd_Chap2_Prob14_Prog_Proj/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob06_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob06_Prog_Challenges/dist/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob07_Prog_Challenges/dist/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob07_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob08_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob08_Prog_Challenges/dist/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob09_Prog_Challenges/dist/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob09_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob10_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob10_Prog_Challenges/dist/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob11_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob11_Prog_Challenges/dist/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob03_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob03_Prog_Challenges/dist/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob02_Prog_Challenges/build/
/Homework/Cervantes, Jose - Assignment 4 - 42829/Gaddis_8thEd_Chap5_Prob02_Prog_Challenges/dist/